<!-- templates/base.html -->
{% load static %}
<html>
<head>
    <title>Django blog</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<header>
    <div class="nav-left">
       <a href="{% url 'home' %}">Django blog</a>
    
    </div>
    <ul class="menu">
        <li><a href="{% url 'home' %}">Блог</a></li>
        <li><a href="{% url 'posts' %}">Публикации</a></li>
        <li><a href="{% url 'cabinet' %}">Кабинет</a></li>
        <li><a href="admin">Admin</a></li>
        <li>{% if user.is_authenticated %}
          <p><a href="{% url 'logout' %}">Выйти</a></p>
        {% else %}
          <a href="{% url 'login' %}">Войти</a>
          <li><p><a href="{% url 'signup' %}">Регистрация</a></p></li>
        {% endif %} </li>
    </ul>

  </header>
  <div class="wrapper">
    {% if user.is_authenticated %}
          <p class="auth">Привет, {{ user.username }}!</p>
        {% else %}
          <p class="auth">Вы не авторизовались.</p>
        {% endif %} </li>
  <div>
    {% block content %}
    {% endblock content %}
  </div>